bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/logs/
/downloads/
/.idea/
/yt_downloader/.idea/
/MikuBot/.idea/
/MikuBot/todo.txt
/HarukiBot/.idea/.idea.HarukiVideo/.idea/workspace.xml
/MikuBot/appsettig.Development.json
/.env
/secrets
